@model WebApplication4.Models.Record

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobilephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobilephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt style="display:none">
            @Html.DisplayNameFor(model => model.curuser)
        </dt>

        <dd style="display:none">
            @Html.DisplayFor(model => model.curuser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
